body {max-width: 1920px; margin: 0;}
a {color: black;} 
a:link {color: black;}
a:hover {color: black;}
a:visited {color: black;}
a:active {color: black;}
 
.clear {clear: both;}

body{
    transition: all 0.5s;
}
header h1{
    float: left;
    margin: 0px 0px 0px 50px;
    position: fixed;
    background: white;

}
header img{
    margin: 5px 15px;
    height: 300px;
    transition: all 0.5s;
}
.menu{
    width: 100vw;
}
nav ul{
    float: right;
}
nav li{
    width: calc(25%);
    height: 500px;
    list-style: none;
    float: left;
    transition: all 0.5s;
}
nav li:nth-child(1){
    background: #E4004E;
}
nav li:nth-child(2){
    background: #EF7508;
}
nav li:nth-child(3){
    background: #FCCC00;
}
nav li:nth-child(4){
    background: #008950;
}
nav li:last-child{
    border-right: none;
    margin-right: 0px;
}
nav a{
    color: gray;
    text-decoration: none;
}
nav a:hover{
    color: #ffcd00;
    text-decoration: underline;
}
footer{
    background-color: black;
    color: white;
}
footer h2{
    color: #ffcd00;
}
footer{
    padding: 20px 0;
}
.footer_content{
    margin: 20px 60px;
    display: flex;
    justify-content: space-between;
}
.site ul{
    margin: 10px 60px;
    display: flex;
    justify-content: space-between;
}
.footer_logo img{
    float: right;
    width: 30%;
}
footer a{
    color: gray;
    text-decoration: none;
}
footer a:hover{
    color: #ffcd00;
}
.copy{
    text-align: center;
}