body {max-width: 1920px; margin: 0 auto;}
a {color: black;} 
a:link {color: black;}
a:hover {color: black;}
a:visited {color: black;}
a:active {color: black;}

.blind {display: none !important;} 
.inner {padding: 20px; max-width: 1402px; margin: 0 auto;}
.clear {content: ""; clear: both; display: table;}

header h1{
    float: left;
    margin: 0px 0px 0px 50px;
}
header img{
    margin: 5px 15px;
    width: 90px;
}
nav ul{
    float: right;
    padding: 0px;
    margin-right: 50px;
}
nav li{
    list-style: none;
    float: left;
    padding-right: 20px;
    margin-top: 10px;
    margin-right: 20px;
    border-right: solid 2px #ffcd00;;
}
nav li:last-child{
    border-right: none;
    margin-right: 0px;
}
nav a{
    color: gray;
    text-decoration: none;
}
nav a:hover{
    color: #ffcd00;
    text-decoration: underline;
}
footer{
    background-color: black;
    color: white;
}
footer h2{
    color: #ffcd00;
}
.footer{
    margin: 0px 50px;
}
.footer_content{
    width: calc(33% - 120px);
    margin: 20px 60px;
    float: left;
}
footer img{
    width: 80px;
}
footer h2{
    margin-top: 15px;
}
#img_h2{
    margin: 0px;
}
footer a{
    color: gray;
    text-decoration: none;
}
footer a:hover{
    color: #ffcd00;
}
footer ul{
    padding-left: 18px;
    margin: 0px;
}
footer li{
    margin: 10px 0px;
    list-style: circle;
}
footer h3{
    margin: 10px 0px;
}
.FC{
    margin-top: 30px;
}
footer dd{
    margin: 5px 0px;
    font-size: 12px;
    color: gray;
}