body {margin: 0; padding: 0;}
a {color: black;} 
a:link {color: black;}
a:hover {color: black;}
a:visited {color: black;}
a:active {color: black;}
 
.clear {clear: both;}

body{
    transition: all 0.5s;
}
header h1{
    float: left;
    margin: 0px 0px 0px 50px;
    position: fixed;
    background: white;

}
header img{
    margin: 5px 15px;
    height: 300px;
    transition: all 0.5s;
}
footer{
    background-color: black;
    color: white;
    padding: 20px 0;
}
footer h2{
    color: #ffcd00;
}
.footer_content{
    margin: 20px 60px;
    display: flex;
    justify-content: space-between;
}
.site ul{
    margin: 10px 60px;
    display: flex;
    justify-content: space-between;
}
.footer_logo img{
    float: right;
    width: 30%;
}
footer a{
    color: gray;
    text-decoration: none;
}
footer a:hover{
    color: #ffcd00;
}
.copy{
    font-size: 12px;
    text-align: center;
}